body {
    background: #E8C872;
}

:root{
    --plyr-color-main: #FFD700;
    --plyr-video-controls-background: black;
    --plyr-video-control-color: white;
}
main {
    /* Fixed width center align */
    max-width: 60em;
    margin-inline: auto;
    background: #f5f5dc;
}
main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
}
article {
    /* flow content horizontally */
    display: flex;
    gap: 1em;
    justify-content: center;
}
footer {
    text-align: center;
}
/* Media Queries */
@media (max-width: 600px) {
    main article {
        flex-direction: column;
        align-items: center;
    }
}

a {
    color: #0000ff; 
    text-decoration: none; 
    margin-right: 10px; 
  }

  a:hover {
    color: #FFAEC0; 
  }

  p {
    color: black; 
    font-size: 16px; 
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    margin: 5px;
  }
  
  /* Style footer */
  footer {
    margin-top: 20px; 
    font-style: italic; 
  }